{{pageTitle "Login"}}
{{css "module/login/css/login.css"}}

<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div id="login-panel" class="panel panel-default">
        <div class="panel-heading">
            Login
        </div>
        <div class="panel-body">
            <form id="login-form" method="post" data-url="login">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group form-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i> Username</span>
                            <input class="form-control" name="userName" />
                        </div>

                        <div class="input-group form-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i> Password</span>
                            <input type="password" class="form-control" name="password"/>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button class="form-control btn btn-primary" type="submit"><i class="fa fa-sign-in"></i> Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
